<div class="banner-container">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="mobile">
					<img src="../../assets/phone.png" alt="device">
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="content-banner">
					<h2>Team Steam</h2>
					<p>Team management for everyone!</p>
					<div class="download">
						<a href="#" class="btn-ios"></a>
						<a href="#" class="btn-android"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-section section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 heading-about">
				<h3 class="title-section">
					<span class="small">about</span>
					<span class="strong">Lorem ipsum</span> dolor sit amet
				</h3>
				<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
			</div>
		</div>
		<div class="row icons">
			<div class="col-lg-4 col-md-4">
				<a href="#">
					<span><img src="../../assets/circle-icon.png" alt=""></span>
					<h4 class="title-icon">Support</h4>
					<p> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
				</a>
			</div>
			<div class="col-lg-4 col-md-4">
				<a href="#">
					<span><img src="../../assets/phone-icon.png" alt=""></span>
					<h4 class="title-icon">Multi-device</h4>
					<p> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
				</a>
			</div>
			<div class="col-lg-4 col-md-4">
				<a href="#">
					<span><img src="../../assets/print-icon.png" alt=""></span>
					<h4 class="title-icon">Updated</h4>
					<p> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="team-section section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 heading-about">
				<h3 class="title-section">
					<span class="small">Team</span>
					<span class="strong">Lorem ipsum</span> dolor sit amet
				</h3>
				<p>See what’s included in the App</p>
			</div>
			<div class="col-md-4 img-container">
				<a href="#">
					<img src="../assets/default.jpg" alt="">
					<div class="overlay"></div>
					<div class="content">
						<h4 class="name">John Smith</h4>
						<h5 class="position">Digital Designer</h5>
						<p class="description">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 img-container">
				<a href="#">
					<img src="../assets/default.jpg" alt="">
					<div class="overlay"></div>
					<div class="content">
						<h4 class="name">John Smith</h4>
						<h5 class="position">Digital Designer</h5>
						<p class="description">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 img-container">
				<a href="#">
					<img src="../assets/default.jpg" alt="">
					<div class="overlay"></div>
					<div class="content">
						<h4 class="name">John Smith</h4>
						<h5 class="position">Digital Designer</h5>
						<p class="description">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 img-container">
				<a href="#">
					<img src="../assets/default.jpg" alt="">
					<div class="overlay"></div>
					<div class="content">
						<h4 class="name">John Smith</h4>
						<h5 class="position">Digital Designer</h5>
						<p class="description">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 img-container">
				<a href="#">
					<img src="../assets/default.jpg" alt="">
					<div class="overlay"></div>
					<div class="content">
						<h4 class="name">John Smith</h4>
						<h5 class="position">Digital Designer</h5>
						<p class="description">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 img-container">
				<a href="#">
					<img src="../assets/default.jpg" alt="">
					<div class="overlay"></div>
					<div class="content">
						<h4 class="name">John Smith</h4>
						<h5 class="position">Digital Designer</h5>
						<p class="description">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>