<div class="page-header">
	<div class="header-container">
		<h1>Register</h1>
	</div>
</div>
<div class="container section">
	<div class="row">
		<div class="col">
			<form [formGroup]="registerForm" (submit)="register()">
				<div class="form-group">
					<label for="userName">UserName</label>
					<input type="text" class="form-control" id="username" placeholder="UserName" formControlName="username" [ngClass]="{'is-invalid':registerForm.get('username').invalid && registerForm.get('username').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('username').hasError('required')">UserName is Required</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid':registerForm.get('password').invalid && registerForm.get('password').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required')">Password is Required</div>
				</div>
				<div class="form-group">
					<label for="repassword">Repeat Password</label>
					<input type="password" class="form-control" id="repassword" placeholder="Repeat Password" formControlName="repassword" [ngClass]="{'is-invalid':registerForm.get('repassword').invalid && registerForm.get('repassword').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('repassword').hasError('required')">Password is Required</div>
				</div>
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input type="text" class="form-control" id="firstname" placeholder="First Name" formControlName="firstName" [ngClass]="{'is-invalid':registerForm.get('firstName').invalid && registerForm.get('firstName').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('firstName').hasError('required')">First Name is Required</div>
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="lastName" [ngClass]="{'is-invalid':registerForm.get('lastName').invalid && registerForm.get('lastName').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('lastName').hasError('required')">Last Name is Required</div>
				</div>
				<div class="form-group">
					<label for="email">email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':registerForm.get('email').invalid && registerForm.get('email').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('email').hasError('required')">Email is Required</div>
					<div class="invalid-feedback" *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">Email invalid</div>
				</div>
				<div class="form-group">
					<label for="teamname">Team Name</label>
					<input type="text" class="form-control" id="teamname" placeholder="Team Name" formControlName="teamName" [ngClass]="{'is-invalid':registerForm.get('teamName').invalid && registerForm.get('teamName').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('teamName').hasError('required')">Team Name is Required</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" id="description" placeholder="Description" formControlName="description"></textarea>
				</div>
				<div class="form-group">
					<label for="sport">Choose an sport</label>
					<ng-select2 (valueChanged)="sportSelection($event)" [placeholder]="'Please select a sport'" [data]="sports" id="sport" formControlName="sport"></ng-select2>
					<div class="invalid-feedback" *ngIf="registerForm.get('sport').hasError('required')">Sport is Required</div>
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" class="form-control" id="city" placeholder="City" formControlName="city" [ngClass]="{'is-invalid':registerForm.get('city').invalid && registerForm.get('city').touched}">
					<div class="invalid-feedback" *ngIf="registerForm.get('city').hasError('required')">City is Required</div>
				</div>
				<button class="btn-red" [ngClass]="{'noActive':registerForm.invalid}" [disabled]="registerForm.invalid">Register</button>
			</form>
		</div>
	</div>
</div>