@import "../../assets/_variables.scss";
.page-header h1:after{
	bottom:-20px !important;
}
form{
	background: #f4f4f4;
    padding: 20px 60px 60px;
    box-shadow: 0 13px 15px rgba(0,0,0,.1);
    h3{
    	text-align: center;
    	margin-bottom: 20px;
    	color:$colorGray;
    }
}
.noActive{
	background: rgba(82, 82, 82, 0.5) !important;
	border: none !important;
	color: white !important;
	cursor: default !important;
}
.btn-login{
	text-transform: uppercase;
    background: transparent;
    border: 1px solid #f32160;
    width: 100%;
    color: $colorRed;
    font-weight: bold;
    height: 55px;
    cursor: pointer;
    &:hover{
		background: $colorRed;
		color:white;
    }
}