<div class="page-header">
	<div class="header-container">
		<h1>Add Player</h1>
	</div>
</div>
<div class="container section">
	<div class="row">
		<div class="col-lg-12 heading">
			<h3 class="title-section">
				<span class="small">Add Player</span>
				<span class="strong">Lorem ipsum</span> dolor sit amet
			</h3>
		</div>
		<div class="col-lg-12 content">
			<form [formGroup]="addPlayer" (ngSubmit)="createPlayer()">
				<div class="form-group">
					<label for="username">UserName</label>
				    <input type="text" class="form-control" id="username" placeholder="UserName" formControlName="username" required>
				    <label *ngIf="addPlayer.get('username').invalid && addPlayer.get('username').dirty" class = "error"> Team name is required. </label>
				    <div *ngIf="addPlayer.get('username').hasError('required') && addPlayer.get('username').touched" class="alert alert-danger">UserName is required</div>
				</div>
				<div class="form-group">
					<label for="firstname">First Name</label>
				    <input type="text" class="form-control" id="firstname" placeholder="First Name" formControlName="firstname">
				    <div *ngIf="addPlayer.get('firstname').hasError('required') && addPlayer.get('firstname').touched" class="alert alert-danger">First Name is required</div>
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
				    <input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="lastname">
				    <div *ngIf="addPlayer.get('lastname').hasError('required') && addPlayer.get('lastname').touched" class="alert alert-danger">Last Name is required</div>
				</div>
				<div class="form-group">
					<label for="birthDay">BirthDate</label>
				    <input type="date" class="form-control" id="birthDay" placeholder="birthDay" formControlName="birthDay">
				     <small id="birthDay" class="form-text text-muted">Example 01/01/2000.</small>
				     <div *ngIf="addPlayer.get('birthDay').hasError('required') && addPlayer.get('birthDay').touched" class="alert alert-danger">birthDay is required</div>
				</div>
				<div class="form-group">
				    <label for="email">Email address</label>
				    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
				    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
				    <div *ngIf="addPlayer.get('email').touched && addPlayer.get('email').invalid" class="alert alert-danger">
						<div *ngIf="addPlayer.get('email').hasError('required')">
							Email is required
						</div>
						<div *ngIf="addPlayer.get('email').hasError('email') && !addPlayer.get('email').hasError('required')">
							Invalid Email
						</div>				    	
				    </div>
				</div>
				<div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
				    <div *ngIf="addPlayer.get('password').touched && addPlayer.get('password').invalid" class="alert alert-danger">
						<div *ngIf="addPlayer.get('password').hasError('required')">
							password is required
						</div>
						<div *ngIf="addPlayer.get('password').hasError('minlength') && !addPlayer.get('password').hasError('required')">
							Password need to be more than 6 characters
						</div>				    	
				    </div>
			  	</div>
				<div class="form-group">
				    <label for="gender">Gender</label>
				    <select class="form-control" id="gender" formControlName="gender">
				      <option>M</option>
				      <option>F</option>
				    </select>
				    <div *ngIf="addPlayer.get('gender').hasError('required') && addPlayer.get('gender').touched" class="alert alert-danger">Gender is required</div>
				</div>
				<div class="form-group">
					<label for="yerseyNumber">yersey Number</label>
				    <input type="number" class="form-control" id="yerseyNumber" placeholder="yersey Number" formControlName="yerseyNumber">
				    <div *ngIf="addPlayer.get('yerseyNumber').hasError('required') && addPlayer.get('yerseyNumber').touched" class="alert alert-danger">Yersey Number is required</div>
				</div>
				<div class="form-group">
					<label for="positions">Positions</label>
				    <input type="text" class="form-control" id="positions" placeholder="Positions" formControlName="positions">
				    <div *ngIf="addPlayer.get('positions').hasError('required') && addPlayer.get('positions').touched" class="alert alert-danger">Positions is required</div>
				</div>
				<div class="form-group">
					<label for="contacts" style="width: 100%">Contacts <small (click)="addMore()" style="float: right; cursor: pointer;">Add More <i class="fa fa-plus"></i></small></label>
					<div class="row">
						<div class="col-6">
							<select class="form-control">
								<option value="email">Email</option>
								<option value="phone">Phone</option>
							</select>
						</div>
						<div class="col-6">
							<input type="text" placeholder="value" class="form-control">
						</div>
					</div>
			    	<!-- <textarea class="form-control" id="contacts" rows="3" formControlName="contacts"></textarea>
			    	<small id="contacts" class="form-text text-muted">One contact per line.</small>
			    	<div *ngIf="addPlayer.get('contacts').hasError('contacts') && addPlayer.get('contacts').touched" class="alert alert-danger">Contacts is required</div> -->
			  	</div>
			  	<div class="form-group">
				    <label for="nonPlayer">nonPlayer</label>
				    <select class="form-control" id="nonPlayer" formControlName="nonPlayer">
				     	<option value="true">True</option>
				      <option value="false">False</option>
				    </select>
				    <div *ngIf="addPlayer.get('gender').hasError('required') && addPlayer.get('gender').touched" class="alert alert-danger">Gender is required</div>
				</div>
				<div class="form-group">
				    <label for="managerAccess">managerAccess</label>
				    <select class="form-control" id="managerAccess" formControlName="managerAccess">
				      <option value="true">True</option>
				      <option value="false">False</option>
				    </select>
				    <div *ngIf="addPlayer.get('gender').hasError('required') && addPlayer.get('gender').touched" class="alert alert-danger">Gender is required</div>
				</div>
			  	<div class="form-group">
				    <label for="teams">Teams</label>
				    <select class="form-control" id="team" formControlName="team">
				      <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
				    </select>
				    <div *ngIf="addPlayer.get('gender').hasError('required') && addPlayer.get('gender').touched" class="alert alert-danger">Gender is required</div>
				</div>
			  	<div class="form-group">
		      		<input type="submit" value="Create" class="btn-red" [disabled]="addPlayer.invalid" [ngClass]="{'noActive':addPlayer.invalid}">
		      	</div>
		    </form>
		</div>
	</div>
</div>