@import "../../assets/_variables.scss";
.btn-red{
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #f32160;
    width: 100%;
    color: $colorRed;
    font-weight: bold;
    height: 55px;
    cursor: pointer;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    &:hover{
        background: $colorRed;
        color:white;
    }
}
.noActive{
    background: rgba(82, 82, 82, 0.5) !important;
    border: none !important;
    color: white !important;
    cursor: default !important;
}