form{
	fieldset{
		border:1px solid #ced4da;
		padding: 10px 20px;
		position: relative;
	}
	input, select{
		border:0;
		border-bottom: 1px solid #ced4da;
	}
	.edit{
		position: absolute;
	    display: inline-block;
	    top: 20px;
	    right: 10px;
	    cursor: pointer;
	}
}
.password-title{
	font-size: 1.2rem;
    margin: 10px 0;
    display: block;
    cursor: pointer;
}
.password-change{
	padding:20px;
}
.personal-info{
	span{
		display: block;
	    border-bottom: 1px solid #ced4da;
	    padding: 5px 10px;
	}
}