@import "../../assets/_variables.scss";
form{
	background: #f4f4f4;
    padding: 40px 80px;
    box-shadow: 0 13px 15px rgba(0,0,0,.1);
    input ,select{
    	border: 0;
    	height: 50px !important;
    }
    textarea{
    	border: 0;
		height: 100px;
    }
}
@media(max-width: 768px){
	form{
		padding: 40px 10px;
	}
}